:root {
  --clr-primary-400: hsl(25, 97%, 53%);
  --clr-neutral-900: hsl(216, 12%, 8%);
  --clr-neutral-800: hsl(213, 19%, 18%);
  --clr-neutral-300: hsl(216, 12%, 54%);
  --clr-neutral-200: hsl(217, 12%, 63%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff: font-family: 'Overpass', sans-serif;
}
